* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --purple-400: #b52184;
  --blue-700: #312d64;
  --white-200: #f9f4fb;
}

body {
  font-size: 1.6rem;
  max-width: 500rem;
}

body,
input {
  font-family: Mulish;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white-200);
  width: 100%;
}

header {
  text-align: center;
}

header img {
  margin: 0 3.2rem;
  width: 36.4rem;
  height: 37rem;
}

header h1 {
  color: var(--purple-400);
  font-weight: 900;
  font-size: 3.2rem;
}

header p {
  color: var(--blue-700);

  font-size: 2rem;
  font-weight: 600;

  margin-bottom: -11rem;
}

.arrow-down-icon {
  width: 5.8rem;
  cursor: pointer;
  transition: 0.4s;
}

.arrow-down-icon:hover {
  width: 6.5rem;
}

.card-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 5rem;

  max-width: 39.6rem;

  margin: auto;

  padding: 5.2rem 2.5rem;
  background: linear-gradient(96deg, #343193 0%, #302c63 99.68%);
}
.card {
  width: 100%;
  border-radius: 1.9rem;
  padding: 2.5rem;
  background: #fff;
}

.card h2 {
  margin-top: 3.3rem;
  margin-bottom: 1.9rem;
  color: var(--purple-400);

  font-size: 2.9rem;
  font-weight: 900;
}

.card p {
  color: var(--blue-700);
  font-weight: 600;
  font-size: 1.6rem;

  width: 26.5rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: 7.8rem 6.5rem;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

form legend {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--purple-400);
  margin-bottom: 4.3rem;
}

.contact-area form input {
  margin-bottom: 2.4rem;

  width: 100%;

  border-radius: 16px;
  border: 2px solid var(--blue-700);

  font-weight: 600;

  padding: 12px 50px;

  color: var(--blue-700);
}

.contact-area form input::placeholder {
  color: var(--blue-700);
}

.contact-area form div {
  height: 4.8rem;
  width: 34.8rem;
  position: relative;
  margin-bottom: 24px;
}

.contact-area form div img {
  padding: 12px 12px;
  position: absolute;
}

.contact-area textarea {
  width: 100%;

  border-radius: 16px;
  border: 2px solid var(--blue-700);

  margin-bottom: 2.4rem;

  height: 12.6rem;
  width: 31.6rem;

  line-height: 140%;
  font-weight: 600;

  padding: 12px 16px 16px 16px;
}

form textarea::placeholder {
  font-weight: 600;
  color: var(--blue-700);
}
.star-background {
  display: none;
}
.contact-area .button {
  background: linear-gradient(96deg, #343193 0%, #302c63 99.68%);

  color: #fff;

  padding: 16px;

  width: 15.1rem;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(96deg, #4642a8 0%, #302c63 99.68%);
}
footer {
  background: linear-gradient(96deg, #343193 0%, #302c63 99.68%);

  text-align: center;
  color: #fff;

  font-size: 1.9rem;
  font-weight: 600;
  width: 100%;

  padding: 3.2rem 1.6rem;
}

@media (min-width: 768px) {
  .page {
    width: 100%;
  }
  header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  header img {
    width: 71.9rem;
    height: 73.2rem;
  }
  header h1 {
    font-size: 5.8rem;
    margin-top: 31.2rem;
  }
  header p {
    font-size: 3.2rem;
  }

  .card-area {
    padding: 6.4rem 11.1rem;
    flex-direction: row;
    max-width: 144rem;
  }

  .card {
    width: 36.6rem;

    height: 44.8rem;
  }
  .card p {
    width: 100%;
    height: 100vh;
    font-size: 1.93rem;
  }

  .contact-area {
    width: 144rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 9.2rem;
  }

  .contact-area input,
  textarea {
    width: 59.2rem;
  }
  .contact-area textarea {
    width: 56rem;
  }
  .contact-area header div {
    display: flex;
    flex-direction: column;
  }
  .arrow-down-icon {
    width: 5.8rem;
  }
  .star-background {
    display: block;
    overflow: hidden;
  }
}
